---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: teams.team.snappcloud.io
spec:
  group: team.snappcloud.io
  names:
    kind: Team
    listKind: TeamList
    plural: teams
    singular: team
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Team is the Schema for the teams API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: TeamSpec defines the desired state of Team
            properties:
              namespaces:
                items:
                  properties:
                    environment:
                      type: string
                    name:
                      type: string
                  required:
                  - environment
                  - name
                  type: object
                type: array
              teamAdmin:
                description: Foo is an example field of Team. Edit team_types.go to
                  remove/update
                type: string
            type: object
          status:
            description: TeamStatus defines the observed state of Team
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
